html {
    position: relative;
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

.logo {
    margin-left: 10px;
    margin-top: 5px;
    float: left;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background: #C5D9D9;
}

.footer_contacts {
    position: absolute;
    margin-left: 10px;
    bottom: 0;
    margin-bottom: 10px;
}

.footer_contacts span {
    white-space: pre-line;
}

.index-img {
    width: 100%;
    height: auto;
    /* Magic! */
    max-width: 50vw;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}


