@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

html {
    position: relative;
    min-height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background: #C5D9D9;*/
    background: #FFFFFF;
}

*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

.footer {
    background: #C5D9D9;
}

.footer-contacts {
    display: block;
    padding: 20px;
}

.footer-contacts span {
    white-space: pre-line;
}

.content {
    position: absolute;
    width: 100%;
}

.my-navbar {
    background-color: #C5D9D9;
}

.row {
    --bs-gutter-x: 0rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.button-tar {
    text-align: right;
    margin-bottom: 10px;
}

.container-nav {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    max-width: 1320px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}