.comment-card {
    text-align: left;
    padding: 24px;
    background: #ffffff;
}

.code {
    padding: 4px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #576877;
    border-radius: 4px;
}

.blockquote {
    margin: 0px;
    padding-left: 8px;
    border-left: 4px solid #576877;
    background: rgba(255, 255, 255, 0.1);
}

.comment-body {
    color: #000000;
}

#comments {
    color: #000000;
}

#comments_count {
    color: #000000;
}

.button {
    font-size: 14px;
    margin-left: auto;
}

.form-control::placeholder {
    color: #dedede;
}