settings.py merge=ours
Dockerfile merge=ours
nginx.conf merge=ours
server.crt merge=ours
server.key merge=ours
myphotonotes_tech.key merge=ours
myphotonotes_tech.pem merge=ours
.gitattributes merge=ours
